@import "_contact.css";
@import "_nav.css";
@import "_header.css";
@import "_course.css";
@import "_aboutus.css";
@import "_teacher.css";
@import "_stat.CSS";
@import "_topic.CSS";
@import "_FAQ.CSS";
@import "_footer.CSS";
@font-face {
  font-family: iransans;
  src: url("/fonts/IRANSansWeb_Medium.ttf") format("ttf"),
    url("/fonts/IRANSansX-Medium.woff") format("woff"),
    url("/fonts/IRANSansXV.ttf") format("ttf"),
    url("/fonts/IRANSansX-Medium.woff2") format("woff2");
    font-family: iransansbold;
    src: url("/assets/fonts/IRANSansX-Bold.woff") format("woff"),
    url("/assets/fonts/IRANSansX-Bold.woff2") format("woff2"),
    url("/assets/fonts/IRANSansX-Bold.ttf") format("ttf");
    font-family: vazir;
    src: url("/assets/fonts/Vazir-Medium.eot") format("eot"),
    url("/assets/fonts/Vazir-Medium.ttf")format("ttf"),
    url("/assets/fonts/Vazir-Medium.woff")format("woff"),
    url("/assets/fonts/Vazir-Medium.woff2")format("woff2");
  font-weight: normal;
  font-style: normal;
}
